<footer class="bg-black border-top border-dark">
    <div class="container py-vh-4 text-secondary fw-lighter">
        <div class="row">
            <div class="col-12 col-lg-5 py-4 text-center text-lg-start">
                <a class="navbar-brand pe-md-4 fs-4 col-12 col-md-auto text-center" href="index.html">
                    <img src="{{ img.barbGoesnotFound.png }}" style="width: 100px; height: auto;">
                    <span class="ms-md-1 mt-1 fw-bolder me-md-5">Barbearia Goes</span>
                </a>

            </div>
            <div class="col border-end border-dark">
                <span class="h6">Company</span>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a href="#" class="link-fancy link-fancy-light">About us</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="link-fancy link-fancy-light">Legal</a>
                    </li>

                    <li class="nav-item">
                        <a href="#" class="link-fancy link-fancy-light">Career</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="link-fancy link-fancy-light">Contact</a>
                    </li>
                </ul>
            </div>
            <div class="col border-end border-dark">
                <span class="h6">Services</span>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a href="#" class="link-fancy link-fancy-light">Pricing</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="link-fancy link-fancy-light">Products</a>
                    </li>

                    <li class="nav-item">
                        <a href="#" class="link-fancy link-fancy-light">Customers</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="link-fancy link-fancy-light">Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="link-fancy link-fancy-light">Success Stories</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="link-fancy link-fancy-light">More</a>
                    </li>
                </ul>
            </div>
            <div class="col">
                <span class="h6">Support</span>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a href="#" class="link-fancy link-fancy-light">About us</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="link-fancy link-fancy-light">Legal</a>
                    </li>

                    <li class="nav-item">
                        <a href="#" class="link-fancy link-fancy-light">Career</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="link-fancy link-fancy-light">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container text-center small py-vh-2 border-top border-dark">Made by
        <a href="https://www.instagram.com/vinicius__franco_/" class="link-fancy link-fancy-light"
            target="_blank">vinicius__franco_</a>
    </div>
</footer>