<div class="w-100 overflow-hidden position-relative bg-black text-white aos-init aos-animate" data-aos="fade">
    <div class="position-absolute w-100 h-100 bg-black opacity-75 top-0 start-0"></div>
    <div class="container py-vh-4 position-relative mt-5 px-vw-5 text-center">
        <div class="row d-flex align-items-center justify-content-center py-vh-5">
            <div class="col-12 col-xl-10">
                <span class="h5 text-secondary fw-lighter">Nice to meet you friends, we are the</span>
                <h1 class="display-huge mt-3 mb-3 lh-1">BARBEARIA GOES<br>Here your style is taken seriously</h1>
            </div>
            <div class="col-12 col-xl-8">
                <p class="lead text-secondary">An old-fashioned barber shop with vintage and modern cuts for all hair
                    styles. For men, special care for their beard with the barboterapia technique. And for girls, our
                    barber shop has very talented professionals who can do that different hairstyle on their precious
                    hair. Curious to know more about us? Don't worry, we will gladly show you our work!</p>
            </div>
            <div class="col-12 text-center">
                <a href="#" class="btn btn-xl btn-light">Contact Us
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z">
                        </path>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</div>